.header {
    min-height: 74px;
    margin: 45px 200px 36.25px;
    padding: 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1200px) {
    .header {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 28px 0 42px;
        min-height: 56px;
    }
    
}